.emacs*
*~
Makefile
Makefile.in
imprimatur.info*
imprimatur.pdf
imprimatur.dvi
imprimatur.ps
imprimatur.tex
stamp-vti
version.texi
imprimatur.aux
imprimatur.cp
imprimatur.cps
imprimatur.dvi
imprimatur.fl
imprimatur.fn
imprimatur.kw
imprimatur.ky
imprimatur.log
imprimatur.mt
imprimatur.op
imprimatur.pg
imprimatur.pr
imprimatur.ps
imprimatur.toc
imprimatur.tp
imprimatur.vr
manual
